<div class="col-md-12">
  <!--  <div test-directive></div>
    <div simple-directive type="address" bla="neki"></div>
    -->

    <!--
    <div simple-directive info="marko" voja="voja"></div>
    <div simple-directive info="igor"></div>  -->

    <!--
    Date format: <input ng-model="format"><br />
    Current time: <span simple-directive="format"></span>
    -->
<!--
    <div simple-directive ng-hide="dialogIsHidden" bla-karneki="hideDialog()">
        Check out the constents {{ name }}!!
    </div>
    -->

    <!--
    <span simple-directive marko="markoX">Drag ME</span>
    -->

    <my-tabs>
        <my-panel title="Hello">
            <h4>Hello</h4>
            <p>Lorem ipsum dolor sit amet</p>
        </my-panel>
        <my-panel>
            <h4>World</h4>
            <em>Muris elementum emit at suscipit.</em>
            <p><a href ng-click="i = i +1 ">counter:{{i || 0}}</a></p>
        </my-panel>
    </my-tabs>
</div>
